* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #03a678;
    --secondary-red: #f25c5c;
    --secondary-orange: #f28705;
    --complementary-pink: #f26db6;
    --complementary-green: #84bf04;
    --neutral-background: #201f1f;
    --neutral-font: #fcfdff;
    --tittles-font-family: 'Oleo Script', cursive;
    --secundary-font-family: 'Roboto', sans-serif;
  }

  .feedDiv {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    gap: 30px;
  }

  .newPostContainer {
    border: 1px solid red;
    gap: 30px;
  }
  
  .newPostContent{
    width: 300px;
    height: 100px;
  }

  .postHeader {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
  }

  .imgHeader {
    width: 230px;
  }

  .imgProfilePost {
    width: 40px;
  }

  .postContentContainer{
    border: 1px solid blue;
  }

  