* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #03a678;
  --secondary-red: #f25c5c;
  --secondary-orange: #f28705;
  --complementary-pink: #f26db6;
  --complementary-green: #84bf04;
  --neutral-background: #201f1f;
  --neutral-font: #fcfdff;
  --tittles-font-family: 'Oleo Script', cursive;
  --secundary-font-family: 'Roboto', sans-serif;
}

.div-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 15px;
  width: 100%;
  height: 100vh;
  background-color: var(--neutral-background);
  font-family: var(--secundary-font-family);
}

.container {
  grid-row-start: 1;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container-header {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 70px;
}

.img-logo {
  width: 250px;
}

.container-form {
  grid-row-start: 3;
  grid-row-end: 5;
  margin-top: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.labels {
  color: var(--neutral-font);
  font-size: 15px;
  font-weight: bold;
}

.inputs {
  width: 270px;
  height: 30px;
  border-radius: 20px;
  font-weight: lighter;
  border-style: none;
  padding: 10px;
}

.inputs::placeholder {
  color: rgba(31, 30, 28, 0.5);
  font-style: italic;
  font-size: 14px;
}

.inputs:focus {
  border:2px solid #03a678;
  transform: scale(1.05);
  outline: none;
  }

.buttons {
  width: 270px;
  height: 40px;
  border-radius: 30px;
  color: var(--neutral-font);
  font-size: 15px;
  font-weight: bold;
  border-style: none;
}

.buttons:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-login {
  background-color: var(--main-color);
  margin-top: 40px;
}

.container-google {
  grid-row-start: 5;
  grid-row-end: 6;
  margin-top: 10px;
}

.button-google {
  background-color: var(--secondary-red);
  padding-right: 20px;
  padding-bottom: 3px;
}

.fa-google {
  float: left;
  width: 35px;
  font-size: 18px;
  padding-left: 40px;
}

.container-register {
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
  margin-top: 20px;
}

.href-register {
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.href-register:hover {
  cursor: pointer;
  transform: scale(1.1);
  }

@media screen and (min-width: 390px) {

  .container-header {
    margin-top: 80px;
  }

  .img-logo {
    width: 270px;
  }

  .container-form {
    margin-top: 70px;
  }

  .labels {
    font-size: 17px;
  }

  .inputs {
    width: 300px;
    font-size: 17px;
  }

  .buttons {
    width: 300px;

    font-size: 17px;
  }

  .button-login {
    margin-top: 80px;
  }

  .container-google {
    margin-top: 15px;
  }

  .href-register {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {

  .container-header {
    margin-top: 80px;
  }

  .img-logo {
    width: 370px;
  }

  .container-form {
    margin-top: 90px;
  }

  .login-form {
    gap: 25px;
  }

  .labels {
    font-size: 20px;
    margin-bottom: -20px;
  }

  .inputs {
    width: 400px;
    height: 40px;
    border-radius: 40px;
    font-size: 20px;
    gap: 30px;
    ;
  }

  .buttons {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
  }

  .button-login {
    margin-top: 80px;
  }

  .container-google {
    margin-top: 15px;
  }

  .button-google {
    padding-right: 40px;
  }

  .fa-google {
    font-size: 24px;
    padding-left: 80px;
  }

  .container-register {
    gap: 25px;
    margin-top: 80px;
  }

  .href-register {
    font-size: 21px;
  }
}