.title {
    font-size: 3.3rem;
}

.inicia-sesion-h2 {
    font-size: 3rem;
}

.logo {
    width: 30rem;
    height: 30rem;
}

.iniciar-sesion-google {
    margin-top: 2.5rem;
}

.logo-inicio-sesion {
    margin: 4%;
}

.user-logo-publicaciones {
    width: 6rem;
    margin: 0.5rem;
}

.container {
    display: grid;
    grid-template-columns: 500px 450px;
    padding: 1rem;
    place-content: center;
}

.containerRegister {
    display: grid;
    grid-template-columns: 500px 450px;
    padding: 1rem;
    place-content: center;
}

.inicia-sesion-h2 {
    font-size: 2.5rem;
    margin: 2.5rem;
}

.section-inicio-sesion {
    margin-right: 7rem;
}

.fecha-nacimiento {
    width: 10rem;
}

.navbar {
    display: grid;
    justify-content: right;
    width:100%;
    background-color:#35123C;
    position: inherit;
    display: none;
}

.navbar-desktop {
    display: block;
    justify-content: right;
    width:100%;
    background-color: #45174F;
    position: inherit;
    display: inline-flex;
    color: aliceblue;
    font-size: .8rem;
    text-decoration: none;
    margin-right: 2rem;
}

.li-navbar:hover{
    transform: scale(.9);
    transition: .2s;
}

.li-navbar{
    padding: 1rem;
    font-size: 1.8rem;
    margin-right: 2rem;
    height: auto;
    background-color: #45174F;
}

a:link { 
    text-decoration: none;
    color: aliceblue;
}

a:visited {
    text-decoration: none;
    color: aliceblue;
}

.contenedor-nav {
    justify-content: center;
}

.contenedor-publicaciones {
    text-align: end;
    justify-content: center;
    display: grid;
    grid-template-columns: 140px 350px;
    margin-top: 2rem;
}

.user-logo-publicaciones {
    margin-right: 3rem; 
}

.input-recomendaciones {
    padding: 1rem;
    width: 27rem;
}
.btn-publicar:hover {

        background-color: #E6D8E9;
        color: #35123C;
}

.btn-publicar {
    margin: 1rem 0rem 2rem 0rem;
    width: 7rem;
    height: 3.5rem;
    font-size: 1.5rem;

}

.div-post-publicado {
    resize: none;
    width: 40rem;
}

.btn-edit {
    width: 1.2rem;
}

.btn-delete {
    width: 1.2rem;
}

.contenedor-likes {
    display: grid;
    grid-template-columns: 30px 30px;
    align-items: self-end;
    margin-left: 30%;
}