* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-color: #03a678;
    --secondary-red: #f25c5c;
    --secondary-orange: #f28705;
    --complementary-pink: #f26db6;
    --complementary-green: #84bf04;
    --neutral-background: #201f1f;
    --neutral-font: #fcfdff;
    --tittles-font-family: 'Oleo Script', cursive;
    --secundary-font-family: 'Roboto', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--neutral-background);
    width: 100%;
    height: 100vh;
  }

 #root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 600px;
      background-color: var(--neutral-background);
  }

  .div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 600px;
  }

  .container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 600px;
  }
  
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 600px;
    gap: 20px;
    font-family: var(--secundary-font-family);
  }