*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--lightIvory);    
}

:root{
/* creamos "constantes" con colores, tipografia, etc. que utilizaremos en el proyecto */
--lightIvory:#F8EDE4;
--dogBrown: #563c2e;
--palePink: #dcc5b6;
--lightPink: #d7a799;
--redCollar: #a91918;
--blue: #086680;
--chocolate: #492319;
--fallOrange: #a24c33;
--fairIvory:#F7DFD3;
--ivory: #dfcfab;
--pigPink: #e5a5a4;
--cherryRed: #901921;
--black: #000000;
--font-family: Arial, Helvetica, sans-serif;
}

/* Placeholder */
::placeholder{
    color: var(--dogBrown);
    font-family: Arial, Helvetica, sans-serif;
    }

/* inactive components */
.hidden {
    display: none;
}

/* alert wrong psw */
.wrongAlert {
    color: var(--redCollar);
    border-color: var(--redCollar);
}

/* para utilizar rem = 1, ayuda para responsive */
html{
    font-size: 62.5%;
}

main{
    width: 100%;
}

main .main-logo .main-logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main logo/ */
main .main-logo .main-logo-img {
    /* width: 85%;  */
    margin-top: 10%;
    
}

main .hello-home{
    background: none;
    margin-bottom: 1em;
    font-size: 2em;
}

/* div main */
main .main-div{

    font-size: 2rem;
    text-align: center;
    margin: 4rem;
}

/* Home */
main .home{
    width: 75%;
}

main .home .home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fairIvory);
    padding: 3em;
    margin-left: 30%;
}

main .home .home-div .home-create-account-intro {
    width: 90%;
    text-align: justify;
    margin-bottom: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: var(--dogBrown);

}

main .home-background{
    background-color: #f7e0d4;
}

main .home .home-question {
    /* font-size: 2rem; */
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--dogBrown);
}

/* color boton main */
.home-div button {
    color: var(--lightIvory);
    font-size: 1.5rem;  
}

main .home .home-div button{
    cursor: pointer;
    border: none;
    font-size: 1.9rem;
    border-radius: 1rem;
    width: 20rem;
    height: 4rem;
    background-color: var(--pigPink);
}

main .home .home-div .home-create-account {
    margin-top: 3rem;
    font-size: 1.9rem;
    color: var(var(--lightIvory));
    font-weight: 500;
}

/* email/Facebook LogIn */
main .email-facebook-page .email-facebook-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

main .email-facebook-page .email-facebook-div label {
    font-size: 2rem;
    margin-top:11rem;

}
/* boton email/facebook*/
main .email-facebook-page .email-facebook-div button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: none;
    cursor: pointer;
    font-size: 2rem ;
    border-radius: 1rem;
    width: 40rem;
    height: 5rem;
    background-color: var(--pigPink);
    border: none;
    padding: 1.2rem;
}

main .email-facebook-page .email-facebook-div .email-btn {
    color: var(--lightIvory);
    margin-top: 5rem ;
    font-size: 1.9rem;

}

main .email-facebook-page .email-facebook-div .facebook-btn {
    color: var(--lightIvory);
    margin-top: 2rem;
    background-color: var(--blue);
    font-size: 1.9rem;

}

/* log in form */
main .login-section .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

main .login-section .login-form input {
    outline: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    text-indent: 1rem;
    margin-top: 0.5rem;
    color: var(--dogBrown);
    font-family: 'Merriweather', serif;
}

main .login-section .login-form label {
    font-size: 2rem;
}

main .login-section .login-form .login-form-email {
    font-size: 2rem;
    margin-top: 9rem;
}

main .login-section .login-form .login-form-password {
    font-size: 2rem;
    margin-top: 0.5rem;
}
/* boton */
main .login-section .login-form button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 13rem;
    margin-top: 1rem;
}

/* Register section */
main .register .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .register .register-form label {
    font-size: 1.5rem;
    margin-top: 1rem;
}

main .register-form-background {
    margin-top: 5rem;
    background-color: var(--fairIvory);
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

main .register .register-form .register-form-psw-recomendation {
    font-size: 1.3rem;
    width: 80%;
    text-align: center;
    color: var(--redCollar);
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

main .register .register-form .register-form-repeat-psw {
    font-size: 1rem;
    color: var(--redCollar);
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

main .register .register-form ::placeholder{
    font-size: 2rem;
}

main .register .register-form input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    /* font-size: 2rem; */
    text-indent: 1rem;
    margin-top: 1.5rem;
    color: var(--dogBrown);
    font-family: Arial, Helvetica, sans-serif;
    font: 2em sans-serif;
    /* width: 60rem;
    height: 5rem; */
}

main .register .register-form button{
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.9rem;
    margin-top: 3rem;
    color: var(--lightIvory);
    border-radius: 1rem;
    width: 20rem;
    height: 4rem;
    background-color: var(--pigPink);
   
}

/* auth error */
main .auth-error .auth-error-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .auth-error .auth-error-div .auth-error-text{
    font-size: 2rem;
    margin-top: 2rem;
}

/* auth funciona */
main .auth-funciona .auth-error-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .auth-funciona .auth-error-div .auth-funciona-text{
    font-size: 2rem;
    margin-top: 3rem;
}

main .auth-funciona .auth-error-div .email-confirmation-done-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.9rem;
    margin-top: 1.5rem;
    color: var(--lightIvory);
    border-radius: 1rem;
    width: 20rem;
    height: 4rem;
    background-color: var(--pigPink);
}

/* Log In/Sign Up */
main .log-in-sign-up .log-in-sign-up-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .log-in-sign-up .log-in-sign-up-div button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    cursor: pointer;
    border: 1px solid #000000;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 13rem;
}

main .log-in-sign-up .log-in-sign-up-div .nav-link-log-in {
    margin-top: 16rem;
}

main .log-in-sign-up .log-in-sign-up-div .nav-link-sign-up {
    margin-top: 1rem;
}

/* responsive */
/* 1rem=16px  16x5=80px */
/* 5rem = 80 px */
@media screen and (min-width: 5rem){
    .main-logo-img{
        width: 50%;
    }
}
/* 2rem = 320 px */
@media screen and (min-width: 20rem){
    .main-logo-img{
        margin-left: 5%;
        width: 50%;
    }

    main .home .home-div .home-create-account-intro {
        font-size: 1.5rem
    }

    main .home .home-div {
        width: 100%;
        margin: 18%;
    }

    main .home .home-question {
        font-size: 1.5rem;
    }

    main .email-facebook-page .email-facebook-div button{
        width: 25rem;
        height: 4rem;
        border-radius: 0.8rem;
        font-size: 1.4rem;
    }
    main .register .register-form input{
        width: 20rem;
        height: 3rem;
        border-bottom: 2px solid black;
        /* font: 1em sans-serif; */
    }

    main .register-form-background{
        width: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--fairIvory);
        padding: 3em;
    }

    ::placeholder{
        font-size: 1rem;
    }

    main .register .register-form .register-form-psw-recomendation{
        font-size: 1rem;
        font-style: italic;
    }
}
/* 30rem = 480 px */
@media screen and (min-width: 30rem){
    .main-logo-img {
        width: 53%;
    }

    main .home .home-div .home-create-account-intro {
        font-size: 1.9rem;
    }

    main .home .home-question {
        font-size: 1.9rem;
    }

    main .register .register-form input{
        width: 30rem;
        height: 3rem;
        border-bottom: 2px solid black;
        font: 1em sans-serif;
    }

    main .register-form-background {
        width: 70%;
    }
}
/* 40rem = 640 px */
@media screen and (min-width: 40rem){
    .main-logo-img {
        width: 57%;
    }

    main .home .home-div {
        width: 100%;
        margin-left: 20%;
    }

    main .home .home-div .home-create-account-intro {
        font-size: 2.3rem;
    }

    main .home .home-question {
        font-size: 2.3rem;
    }

    main .home .home-div button {
        width: 25rem;
        height: 4rem;
        border-radius: 0.8rem;
        font-size: 1.4rem;
    }

    main .register .register-form input{
        font: 2rem sans-serif;
        width: 80%;
        height: 3rem;
        border-bottom: 2px solid black;
    }

    main .register-form-background{
        width: 70%em;
    }
}
/* 62rem = 992px */
@media screen and (min-width: 62rem){
    .main-logo-img{
        width: 60%;
    }
    main .home .home-div {
        width: 100%;
        margin-left: 20%;
    }

    main .register-form-background {
        width: 70%;
    }

    main .home .home-div .home-create-account-intro {
        font-size: 2.5rem;
    }

    main .home .home-question {
        font-size: 2.5rem;
    }

    main .register .register-form input{
        width: 80%;
        height: 3rem;
        border-bottom: 2px solid black;
    }
}
/* 87rem = 1392px */
@media screen and (min-width: 87rem){
    main .main-logo-img{
        width: 57%;
        
     } 
    main .register-form-background {
        width: 70em; 
    }

    main .home .home-div .home-create-account-intro {
        font-size: 3rem;
    }

    main .home .home-question {
        font-size: 3rem;
    }

    main .home .home-div {
        width: 70%;
        margin-left: 30%;
        margin-top: 20em;
    }
    
    main .register .register-form input{
        width: 65rem;
        height: 3rem;
        border-bottom: 2px solid black;
    }
} 
