*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
/* creamos "constantes" con colores, tipografia, etc. que utilizaremos en el proyecto */
--blue: #4B81D1;
--blue-hover: #1c53a6;
--red: #841818;
--red-hover: #610808;
--yellow: #E0BB20;
--yellow-hover: #b4920a;
--black: #000000;
--gray: #8F8F95;
--gray-dark: #3a3c4a;
--beige: #f8f3e3;
--font-base: 'Montserrat', sans-serif;
}

/* responsive */

@media screen and (min-width: 640px){

}

@media screen and (min-width: 960px){

}

@media screen and (min-width: 1366px){
    
}